<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bintang.uts_akb_10120167">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS_AKB_10120167">
        <activity
            android:name="com.bintang.uts_akb_10120167.EditNotesActivity"
            android:exported="false" />
        <activity
            android:name="com.bintang.uts_akb_10120167.NotesDetail"
            android:exported="false" />
        <activity
            android:name="com.bintang.uts_akb_10120167.AddNotesActivity"
            android:exported="false" />
        <activity
            android:name="com.bintang.uts_akb_10120167.SliderActivity"
            android:exported="false" />
        <activity
            android:name="com.bintang.uts_akb_10120167.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.bintang.uts_akb_10120167.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>